input{
    font-size: 22px;
}
#formContent{
    display: flex;
    flex-wrap: wrap;
    width:50%;
}
#formTable{
    width:100%;
    border-spacing:0px;
    margin-bottom:10px;
}
th{
    width:25%;
    padding: 0px 5px;
    text-align: right;
}
td{
    margin:0px;
    padding:0px;
}
label[for=id_username]{
    font-size:21px;
}
#trButton{
}
#zebyKolorkiMiSieWPodpowiedziachWyswietlaly{
    color: #dfe4ea;
    background-color: #2f3542;
    background-color: #1e2430;
}

#id_username{
    background-color:#1e2430;
    color:#dfe4ea;
    border-style: none;
}
#formSubmit{
    margin-top: 10px;

    border-style: none;
    background-color:#1e2430;
    color:#dfe4ea;
    height:26px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}