main{
    background-color: #2f3542;
    width: 94%;
    padding: 10px 30px;
    color: #dfe4ea;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
section{
    margin-bottom: 20px;
}

#username{
    width:100%;
}
.breal{
    flex-basis:100%;
    height:0;
}

#tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag{
    padding: 3px;
    border: solid 1px black;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 3px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.tag.good, .tag.win{
    background-color: #27ae60;
}

.tag.weak, .tag.lose{
    background-color: #e74c3c;
}

.tag.draw{
    background-color: #eccc68;
}

.tag.enjoyer{
    background-color: #1abc9c;
}

#top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #1e2430;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

#top > div{
    flex: 1;
}

#center{
    display: flex;
    flex-direction: row;
}

#center > div{
    flex: 1;
}


.ratings{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:21px;
}

#results h3{
    letter-spacing: 0px;
}

#results{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #dfe4ea;
    font-size: 21px;
}

#results > div{
    flex: 1;
}

.wins{
    color: #2ed573;   
}

.draws{
    color: #eccc68;
}

.loses{
    color: #ff4757;
}

span.time{
    color: #ffa502;
}

.openingsTable{
    width:100%;
    font-size: large;
}

.openingsTable th{
    font-size: 20px;
    min-width: 30px;
}
.openingsTable tr:nth-child(even){
    background-color: #1e2430;
}
.openingsTable td{
    padding: 10px 5px;
}

.openings{
    margin-right: 0px;
}
.openingsStats{
    text-align: center;
    padding: 5px;
}
#openingsFirstCell{
    border-radius: 8px 0px 0px 8px;
}
#openingsLastCell{
    border-radius: 0px 8px 8px 0px;
}
#openingsTableHeader1{
    text-align: left;
}

.openingsOpeningDiv{
    padding-left: 15px;
}

.otworzMenu{
    background-color: #1e2430;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size:25px;
    border-radius: 10px;
  }

  .contentMenu{
    width: 100%;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  .Menu{
      width:100%;
  }
  .colorsMenu{
      width:50%
  }