main{
    background-color: #2f3542;
    width: 90%;
    padding: 10px 30px;
    color: #dfe4ea;
}

section{
    margin-bottom: 20px;
}



#tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag{
    padding: 3px;
    border: solid 1px black;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 3px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.tag.good, .tag.win{
    background-color: #27ae60;
}

.tag.weak, .tag.lose{
    background-color: #e74c3c;
}

.tag.draw{
    background-color: #eccc68;
}

.tag.enjoyer{
    background-color: #1abc9c;
}

#top{
    display: flex;
    flex-direction: row;
    background-color: #1e2430;
    padding: 20px;
    border-radius: 10px;
}

#top > div{
    flex: 1;
}

#center{
    display: flex;
    flex-direction: row;
}

#center > div{
    flex: 1;
}

#center > div:nth-child(1){
    margin-right: 20px;
}

.ratings{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:21px;
}

#results h3{
    letter-spacing: 0px;
}

#results{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #dfe4ea;
    font-size: 21px;
}

#results > div{
    flex: 1;
}

.wins{
    color: #2ed573;   
}

.draws{
    color: #eccc68;
}

.loses{
    color: #ff4757;
}

span.time{
    color: #ffa502;
}

.openingsTable{
    width:100%;
    font-size: large;
}

.openingsTable th{
    font-size: 25px;
}
.openingsTable tr:nth-child(odd){
    background-color: #282e3a;
}
.openingsTable td{
    padding: 5px 0px;
}


.openingsStats{
    text-align: center;
}

#openingsTableHeader1{
    text-align: left;
}
