{% extends 'base.html' %}

{% load static %}

{% block title %}
    STRONA GŁÓWNA 
{% endblock %}

{% block css_files %}
    <link href="{% static '/user/user.css' %}" rel="stylesheet" />
    <link href="{% static '/user/index.css' %}" rel="stylesheet" />
{% endblock %} 

{% block content %}
    <!-- id od elementów formularza sobie znajdź w konsoli przeglądarki -->
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">GENERATE RAPORT</button>
    </form>
{% endblock %}