{% extends 'base.html' %}

{% load static %}

{% block title %}
    STRONA GŁÓWNA 
{% endblock %}

{% block css_files %}
    <link href="{% static '/user/index.css' %}" rel="stylesheet" />
{% endblock %} 

{% block content %}


    <main>
        <!-- id od elementów formularza sobie znajdź w konsoli przeglądarki -->
        <form method="POST" id="formContent">
            {% csrf_token %}
            <table id="formTable">
                {{ form.as_table }}
                <tr id="trButton">
                    <th></th>
                    <td>
                        <button type="submit" id="formSubmit">Generate</button>
                    </td>
                </tr>
            </table>
        </form>
    </main>



{% endblock %}