{% extends 'base.html' %}

{% load static %}

{% block title %}
    STRONA GŁÓWNA 
{% endblock %}

{% block css_files %}
    <link href="{% static '/user/user.css' %}" rel="stylesheet" />
    <link href="{% static '/user/index.css' %}" rel="stylesheet" />
{% endblock %} 

{% block content %}
    <main>
        <!-- id od elementów formularza sobie znajdź w konsoli przeglądarki -->
        <form method="POST" id="form">
            <div id="formContent">
                {% csrf_token %}
                {{ form }}
            </div>


            <button type="submit" id="generate">Generate</button>
        </form>
    </main>
{% endblock %}