{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ username }}
{% endblock %}

{% block css_files %}
    <link href="{% static '/user/user.css' %}" rel="stylesheet" />
{% endblock %} 

{% block content %}
    <main>
        <script>window.addEventListener('load', (event) => {
  console.log('page is fully loaded');
});
        </script>

            <section id="top">
                <div id="username">
                    <h1>{{ username }}</h1>
                </div>

                {% if tags|length > 0 %}
                    <div id="tags">
                        {% for tag in tags %}
                            <div class="tag {{tag.type}}">
                                {{tag.title}}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <!--
                <div id="results">

                    <div class="ratingbox">
                        <h3>BULLET</h3>
                        <span class="rating">{{ ratings.bullet_rating }}</span>
                    </div>
                    <div class="ratingbox">
                        <h3>BLITZ</h3>
                        <span class="rating">{{ ratings.blitz_rating }}</span>
                    </div>
                    <div class="ratingbox">
                        <h3>RAPID</h3>
                        <span class="rating">{{ ratings.rapid_rating }}</span>
                    </div>

                    <div></div>
                    
                    <div class="results_box">
                        <h3>WHITE</h3>
                        <span class="wins">{{ overall_results.white.wins }}</span> - 
                        <span class="draws">{{ overall_results.white.draws }}</span> - 
                        <span class="loses">{{ overall_results.white.loses }}</span>  
                    </div>
                    <div class="results_box">
                        <h3>BLACK</h3>
                        <span class="wins">{{ overall_results.black.wins }}</span> - 
                        <span class="draws">{{ overall_results.black.draws }}</span> - 
                        <span class="loses">{{ overall_results.black.loses }}</span>
                    </div>
                    <div class="results_box">
                        <h3>TIME USAGE</h3>
                        <span class="time">{{time.percentage_time}}%</span>
                    <div>
                </div>
                -->
            </section>
    

            <div class="menuAll">
                <div class="colorsMenu">
                    <div class="Menu" id="menuWhite">
                        <button type="button" class="otworzMenu">White
                            <div class="otworzMenuResults">
                                <a class="wins">{{ overall_results.white.wins }}</a> - 
                                <a class="draws">{{ overall_results.white.draws }}</a> - 
                                <a class="loses">{{ overall_results.white.loses }}</a>
                            </div>
                        </button>
                        <section id="center" class="contentMenu">
                            <div class="openings">
                                <table class="openingsTable" id="openingsTableWhite">
                                    <tr class="openingsTableFirstRow">
                                        <th id="openingsTableHeader1">
                                        </th>
                                        <th class="wins pointer" onclick="sortTableWhite(1)"> 
                                            W
                                        </th>
                                        <th class="draws pointer" onclick="sortTableWhite(2)"> 
                                            D
                                        </th>
                                        <th class="loses pointer" onclick="sortTableWhite(3)"> 
                                            L
                                        </th>
                                        <th class="win% pointer" onclick="sortTableWhite(4)"> 
                                            Win%
                                        </th>
                                    </tr>
                                    {% for opening, results in openings.items %}
                                        {% if results.white.games is not 0 %}
                                        <tr>
                                            <td class="openingsOpening" id="openingsFirstCell"> 
                                                <div class="openingsOpeningDiv">{{ opening }}</div>
                                            </td>
                                            <td class="openingsStats wins"> 
                                                {{ results.white.wins }}
                                            </td>
                                            <td class="openingsStats draws"> 
                                                {{ results.white.draws }}
                                            </td>
                                            <td class="openingsStats loses"> 
                                                {{ results.white.loses }}
                                            </td>
                                            <td class="openingsStats win%" id="openingsLastCell">
                                                {{ results.white.win_rate }}%
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </section>
                    </div>
                    
                    <div class="Menu" id="menuBlack">
                        <button type="button" class="otworzMenu">Black
                            <div class="otworzMenuResults">
                                <a class="wins">{{ overall_results.black.wins }}</a> - 
                                <a class="draws">{{ overall_results.black.draws }}</a> - 
                                <a class="loses">{{ overall_results.black.loses }}</a>
                            </div>
                        </button>
                        <section id="center" class="contentMenu">
                            <div class="openings">
                                <table class="openingsTable" id="openingsTableBlack">
                                    <tr class="openingsTableFirstRow">
                                        <th id="openingsTableHeader1"> 
                                        </th>
                                        <th class="wins pointer" onclick="sortTableBlack(1)"> 
                                            W
                                        </th>
                                        <th class="draws pointer" onclick="sortTableBlack(2)"> 
                                            D
                                        </th>
                                        <th class="loses pointer" onclick="sortTableBlack(3)"> 
                                            L
                                        </th>
                                        <th class="win% pointer" onclick="sortTableBlack(4)"> 
                                            Win%
                                        </th>
                                    </tr>
                                    {% for opening, results in openings.items %}
                                        {% if results.black.games is not 0 %}
                                        <tr>
                                            <td class="openingsOpening" id="openingsFirstCell"> 
                                                <div class="openingsOpeningDiv">{{ opening }}</div>
                                            </td>
                                            <td class="openingsStats wins"> 
                                                {{ results.black.wins }}
                                            </td>
                                            <td class="openingsStats draws"> 
                                                {{ results.black.draws }}
                                            </td>
                                            <td class="openingsStats loses"> 
                                                {{ results.black.loses }}
                                            </td>
                                            <td class="openingsStats win%" id="openingsLastCell">
                                                {{ results.black.win_rate }}%
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="statsMenu">
                    <div class="statsMenuRatings">
                        <div class="ratingbox">
                            <a class="ratingboxHeader">BULLET</a>
                            <br>
                            <a class="rating">{{ ratings.bullet_rating }}</a>
                        </div>
                        <div class="ratingbox">
                            <a class="ratingboxHeader">BLITZ</a>
                            <br>
                            <a class="rating">{{ ratings.blitz_rating }}</a>
                        </div>
                        <div class="ratingbox">
                            <a class="ratingboxHeader">RAPID</a>
                            <br>
                            <a class="rating">{{ ratings.rapid_rating }}</a>
                        </div>
                    </div>
                    <table id="statsMenuTable">
                    <!--
                        <tr>
                            <th class="statsMenuTableHeader">
                            BULLET
                            </th>
                            <td class="statsMenuTableTd">
                                <a>{{ ratings.bullet_rating }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="statsMenuTableHeader">
                            BLITZ
                            </th>
                            <td class="statsMenuTableTd">
                                <a>{{ ratings.blitz_rating }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="statsMenuTableHeader">
                            RAPID
                            </th>
                            <td class="statsMenuTableTd">
                                <a>{{ ratings.rapid_rating }}</a>
                            </td>
                        </tr>
                    -->
                        <tr>
                            <th class="statsMenuTableHeader">
                            TIME USAGE
                            </th>
                            <td class="statsMenuTableTd">
                                <a class="time">{{time.percentage_time}}%</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="statsMenuTableHeader">
                            MOVES AVG.
                            </th>
                            <td class="statsMenuTableTd">
                                <a>{{moves.avg_moves}}</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="statsMenuTableHeader">
                            MOVES MADE
                            </th>
                            <td class="statsMenuTableTd">
                                <a>{{moves.overall_moves}}</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="statsMenuTableHeader">
                            PLAYTIME
                            </th>
                            <td class="statsMenuTableTd">
                                <a>{{time.spent_time}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>




            {% block js_scripts %}
                <script src="{% static "/user/scripts/table.js" %}"></script>
            {% endblock %}
    </main>
    
{% endblock %}