@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #1e2430;
    justify-content: center;
    align-items: center;
}
#chessFrogs{
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin: 5px;
    margin-left: 30px;
    color: #f1f2f6;
    text-decoration: none;
}
header{
    background-color: #2f3542;
    color: #f1f2f6;
    padding: 10px;
    width: 100%;
}

header h1{
}

header a{
}

header a:hover{
    color: #a4b0be;
    transition: all 0.3s;
}

main{
    background-color: #2f3542;
    width: 94%;
    padding: 10px 30px;
    color: #dfe4ea;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
