{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>
    {% block title %}{% endblock %} | ChessFrogs
  </title>

  <link href="{% static 'styles.css' %}" rel="stylesheet" >
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  {% block css_files %}{% endblock %}

</head>

<body>
    <header>
      <nav>
          <a href="{% url 'index' %}" id="chessFrogs">ChessFrogs</a>
      </nav>
    </header>
    {% block content %}{% endblock %}
    {% block js_scripts %}{% endblock %}
</body>
</html>
